<footer class="footer-container fixed-bottom">
  <div class="footer-content container d-flex justify-content-around">
      <a href="{{site.modi_icon_link}}">
        <img class="footericon" src="{{site.modi_icon | relative_url}}">
      </a>
      <a href="{{site.linkedin_icon_link}}">
        <img class="footericon" src="{{site.linkedin_icon | relative_url}}">
      </a>    
      <a href="{{site.twitter_icon_link}}">
        <img class="footericon" src="{{site.twitter_icon | relative_url}}">
      </a>
      <a href="{{site.youtube_icon_link}}">
        <img class="footericon" src="{{site.youtube_icon | relative_url}}">
      </a>
      <a href="{{site.source_code_link}}">
        <img class="footericon" src="{{site.github_icon | relative_url}}">
      </a>
  </div>
</footer>