//Theme
$theme-color: #3C3DA7;
$theme-hover-color: #376cdd;
$divider-color: #808080;

//Theme secondary color
$theme-second-color: #2eb27d;

//Header
$header-color: #ffffff;
$navbar-currentPage-color: #2c2f7c;

//Footer
$footer-bg-color: #ffffff;
$footer-normal-item-color: #808080;

//Buttons
$button-standard-text-color: #ffffff;
$button-white-bg-color: #ffffff;

//Text input field
$textinputfield-text-color: #000000;

//Search container
$search-container-bg-color: #eaeaea;
$searchresult-base-bg-color: #f5f5f5;
$dropdown-container-bg-color: #dadada;

//Map
$map-bg-color: #aad3df;