.details-body {
    padding-left: 8vw;
    padding-right: 8vw;
    margin-bottom: 80px;
}

.details-file {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.details-textContainer {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: $searchresult-base-bg-color;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.details-text-box {
    padding: 0px;
}

.details-text-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    margin-top: 10px;
}

.details-text-data {
    padding-left: 20px;
    margin-bottom: 10px;
}

.details-dataContainer {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: $searchresult-base-bg-color;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.details-data-box {
    padding: 0px;
}

.details-data-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    width: fit-content;
    display: inline;
}

.details-data-data {
    display: inline;
    width: fit-content;
}

.details-administrativeContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 24vw;
    background-color: $searchresult-base-bg-color;
    display: inline-block;
    position: absolute;
    box-shadow: 1px 1px 4px;
}

.details-administrative-box {
    padding: 0px;
}

.details-administrative-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    width: fit-content;
}

.details-administrative-data {
    display: inline;
    width: fit-content;
}

.administrative-spacing {
    margin-top: 24px;
}

.details-misc-box {
    padding: 0px;
}

.details-misc-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    width: fit-content;
    display: inline;
}

.details-misc-data {
    display: inline;
    width: fit-content;
}

.details-main {
    display: inline-block;
    margin-right: 16px;
}

.details-misc {
    padding-left: 0px;
    padding-right: 0px;
}

.details-data {
    margin-top: 1em;
    padding-left: 0px;
    padding-right: 0px;
}