.details-container {
    margin-bottom: 50px;
}

.details-file {
    font-weight: 700;
}

.details-textContainer {
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: $searchresult-base-bg-color;
}

.details-text-box {
    padding: 0px;
}

.details-text-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    margin-top: 10px;
}

.details-text-data {
    padding-left: 20px;
    margin-bottom: 10px;
}

.details-dataContainer {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: $searchresult-base-bg-color;
}

.details-data-box {
    padding: 0px;
}

.details-data-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    width: fit-content;
    display: inline;
}

.details-data-data {
    display: inline;
    width: fit-content;
}

.details-administrativeContainer {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: $searchresult-base-bg-color;
}

.details-administrative-box {
    padding: 0px;
}

.details-administrative-field {
    font-weight: 600;
    color: $theme-color;
    padding-left: 0px;
    width: fit-content;
    display: inline;
}

.details-administrative-data {
    display: inline;
    width: fit-content;
}