.base-style {
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.standard-style {
  background-color: $theme-color;
  border: none;
  color: $button-standard-text-color;
}

.white-style {
  background-color: $button-white-bg-color;
  color: $theme-color;
  border: 1px solid $theme-color;
}

.big-style {
  font-size: 18px;
}

.small-style {
  font-size: 14px;
}

.button-link {
  text-decoration: none;
}