.navbar {
  box-shadow: none;
  border-bottom: 1px solid $divider-color;
  background-color: $header-color;
  opacity: 1;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-nav {
  width: 100%;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.headericon {
  height: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: $theme-color;
}

.nav-link:hover {
  color: $theme-hover-color;
}

.currentPage {
  font-weight: 900;
  color: $navbar-currentPage-color;
}