.partner_title {
    margin-top: 45px;
    margin-bottom: 20px;
    text-align: center;
    color: $theme-second-color;
}

.partner_logo_container {
    text-align: center;
}

.partner_logo {
    max-width: 10vw;
}