<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
    {% include head/head.html %}
  </head>

  <!-- Body -->
  <body class="fixed-top-nav">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    {% if page.no_max %}
      <div class="mt-3">
        {{ content }}
      </div>
    {% else %}
      <div class="container maxwidth-container mt-3">
        {{ content }}
      </div>
    {% endif %}

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/bootstrap.html %}
    {% if page.script %}
      {% include scripts/defaultLibraries.html %}
      <script type="module" src='{{ page.script | relative_url }}'></script>
    {% endif %}
  </body>
</html>