<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
    {% include head/head.html %}
  </head>

  <!-- Body -->
  <body class="fixed-top-nav">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/bootstrap.html %}
    {% if page.script %}
      {% include scripts/defaultLibraries.html %}
      <script type="module" src='{{ page.script | relative_url }}'></script>
    {% endif %}
  </body>
</html>