---
layout: default
---

{{ content }}

The next big leap is automated and autonomous driving. The development of the EU’s automotive industry is moving along a number of different paths. One of these is cooperative, connected, and automated mobility (CCAM). Even though the European Commission announced its commitment to CCAM in 2016, the road to connected and cooperative vehicles has been bumpy. In this context, the EU-funded MODI project will identify and address barriers in confined areas and on public roads for autonomous vehicles (no requirement for human interaction in their operations) on the corridor from Rotterdam to Oslo, and demonstrate the solutions. The project will identify the possibilities and what is not possible yet.
<br><br>
{% include button.html text="Further explanation on CORDIS" link="https://cordis.europa.eu/project/id/101076810" big=true %} &nbsp &nbsp
{% include button.html text="Progress shown on LinkedIn" link="https://www.linkedin.com/company/modi-project/?originalSubdomain=no" white_style=true big=true %}