---
layout: default
---

<br>
<center>
{% include textinputfield.html placeholder="Search" id="searchID" %}
<br><br>
{% include textinputfield.html placeholder="Stakeholder" id="stakeholderID" options="stakeholderOptions" %}
<br><br>
{% include textinputfield.html placeholder="Location" id="locationID" %}
<br><br>
{% include textinputfield.html type="date" placeholder="Date" id="dateID" %}
<br><br>
{% include button.html text="Search" big=true id="searchButtonID" %} 
</center>

<div class='searchContentContainer'>
    <ul class='searchResultsContainer' id='searchResults'>
    </ul>
    <!--The div element for the map -->
    <div class="search-map" id="map"> </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
</div>