---
layout: default
---
<div class="container search-container">
    <div class="row">
        <div class="col" style="padding-right: 0px;">
            {% include textinputfield.html placeholder="Search..." id="textID" %}
        </div>
        <div class="col-md-auto" style="padding-left: 0px;">
            {% include searchButton.html id="searchButtonID" %} 
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col" style="padding-right: 0px;">
            {% include textinputfield.html placeholder="Producer" id="producerID" options="producerOptions" %}
        </div>
        <div class="col" style="padding-right: 0px;">
            {% include textinputfield.html placeholder="Area" id="areaID" options="areaOptions"%}
        </div>
        <div class="col" style="padding-right: 0px;">
            {% include textinputfield.html placeholder="Data type" id="typeID" options="typeOptions"%}
        </div>
        <div class="col">
            {% include textinputfield.html placeholder="Modi use case" id="usecaseID" options="usecaseOptions"%}
        </div>
    </div>
</div>
<div class="searchResultsBody" id="searchResultsBody">

</div>