---
layout: default
---
<div class="searchInterfaceContainer">
    <div class="searchTextInputInterface">
        {{ content }}
    </div>
    <!--The div element for the map -->
    <div class="search-map" id="map"> </div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
</div>

{% assign other_text = "Search for " | append: page.other_type %}
{% assign other_link = "search" | append: page.other_type | relative_url %}

<div class="searchContentContainer">
    <ul class='searchResultsContainer' id='searchResults'>
    </ul>
    {% include button.html text=other_text link=other_link %}
</div>