---
layout: default
---
<div class="container details-container">
    <h1 class="row details-file" id="fileID">File</h1>
    <div class="row details-textContainer" id="textID"></div>
    <div class="row details-dataContainer" id="dataID"></div>
    <div class="row details-administrativeContainer" id="administrativeID"></div>
</div>

<!--
<h1 class="details-name" id="name">None</h1>

<div class="details-info">
    <div class="info-content-container">
        <div class="info-content"><div class="info-type">Stakeholder: </div><div class="info-type-content" id="stakeholder">None</div></div>
        <div class="info-content"><div class="info-type">Location: </div><div class="info-type-content" id="location">None</div></div>
        <div class="info-content"><div class="info-type">Date: </div><div class="info-type-content" id="date">None</div></div>
        <a class="details-dataset" href="#" id="url-metadata">Metadata</a>
        -
        <a class="details-dataset" href="#" id="url-dataset">Dataset</a>
        <hr class="hr-details" />
        <div class="info-type-content" id="description">None</div>
    </div>
</div>-->